body {
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/logo.png') no-repeat top/50%;
  height: 100vh;
  .box {
    transform: rotate(45deg);
  }
  img {
    height: 100px;
  }
}